* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

body {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  overflow: hidden;
  z-index: 90;
}

.header {
  width: 100vw;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 30px;
  z-index: 98;
  backdrop-filter: blur(10px);
}

.fa-bars {
  color: #ff1493;
}

.tit {
  width: 160px;
  height: 52px;
  margin-top: 2px;
}


.sidenav {
  width: 320px;
  height: 100vh;
  position: fixed;
  left: -330px;
  top: 0;
  background: black;
  transition: all 0.50s;
  z-index: 100;
  backdrop-filter: blur(30px);
  overflow-y: scroll;
  overflow-x: hidden;
  box-shadow: 8px 0 0 #ff1493;
}

.sidenav::-webkit-scrollbar {
  display: none;
}

.sidenav .menu {
  width: 320px;
  height: calc(100vh-55px);
  position: fixed;
  top: 55px;
  left: 0;
}

.sidenav .menu .option {
  width: 320px;
  height: 45px;
  margin-left: 10px;
}

.sidenav .menu .option a {
  text-decoration: none;
  color: #ff1493;
  font-size: 9px;
  font-weight: 600;
  padding-left: 2px;
  width: 320px;
  height: 45px;
  font-family: josefin sans, sans-serif !important;
  display: flex;
  align-items: center;
  border-left: 3px solid transparent;
  -webkit-tap-highlight-color: transparent;
}

.sidenav .menu .option a:hover {
  background: #ff1493;
  font-weight: 600;
  color: #00096B;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.sidenav .menu .option a i {
  font-size: 17px;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -2.5px;
}

.sidenav .menu .submenu1,
.sidenav .menu .submenu2,
.sidenav .menu .submenu3,
.sidenav .menu .submenu4,
.sidenav .menu .submenu5 {
  height: 0;
  transition: 0.5s;
  overflow: hidden;
}

.sidenav .menu .submenu1 .option,
.sidenav .menu .submenu2 .option,
.sidenav .menu .submenu3 .option,
.sidenav .menu .submenu4 .option,
.sidenav .menu .submenu5 .option {
  width: 320px;
  height: 35px;
}

.sidenav .menu .submenu1 .option a,
.sidenav .menu .submenu2 .option a,
.sidenav .menu .submenu3 .option a,
.sidenav .menu .submenu4 .option a,
.sidenav .menu .submenu5 .option a {
  width: 320px;
  height: 35px;
  font-size: 9px;
  font-weight: 600;
  color: #ff1493;
}

.sidenav .menu .submenu1 .option a:hover,
.sidenav .menu .submenu2 .option a:hover,
.sidenav .menu .submenu3 .option a:hover,
.sidenav .menu .submenu4 .option a:hover,
.sidenav .menu .submenu5 .option a:hover {
  background: transparent;
  color: #FFD8ED;
}

.fa-caret-right {
  position: absolute;
  right: 9px;
  font-size: 11px !important;
  transition: 0.50s;
}

.extra {
  width: 0;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99;
}

.fa-times {
  position: fixed;
  top: 16px;
  right: 24px;
  font-size: 20px;
  transition: 2s;
  color: #ff1493;
  z-index: 100;
}

.title {
  width: 320px;
  height: 35px;
  font-weight: 600;
  font-size: 11px;
  font-family: josefin sans, sans-serif;
  color: #ff1493;
  display: flex;
  align-items: center;
  padding-left: 25px;
  margin-top: 2px;
}

.title2 {
  width: 320px;
  height: 35px;
  font-weight: 600;
  font-size: 11px;
  font-family: josefin sans, sans-serif;
  color: #ff1493;
  display: flex;
  align-items: center;
  padding-left: 25px;
  margin-top: 12px;
  letter-spacing: 1px;
}

.icons {
  width: 320px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 8px;

}

.icons a {
  text-decoration: none;
  font-size: 14px;
  -webkit-tap-highlight-color: transparent;
}

.icons a i {
  width: 35px;
  height: 35px;
  background: rgba(225, 225, 225, 0.1);
  border-top: 0.01px solid rgba(225, 225, 225, 0.18);
  border-left: 0.01px solid rgba(225, 225, 225, 0.18);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FF1493;
  border-radius: 5px;
  transition: 0.2s;
}

.icons a i:hover {
  color: #FF1493;
  filter: drop-shadow(0 0 2px #FF149350) drop-shadow(0 0 5px #FF1493) drop-shadow(0 0 15px #FF1493);
  transition: 0.2s;
}

.option1,
.option2,
.option3,
.option4,
.option5,
.option6,
.option7,
.option8,
.option9,
.option10 {
  width: 320px;
  height: 45px;
  margin-left: 10px;
}

.option1 a,
.option2 a,
.option3 a,
.option4 a,
.option5 a,
.option6 a,
.option7 a,
.option8 a,
.option9 a,
.option10 a {
  text-decoration: none;
  color: #ff1493;
  font-size: 10px;
  font-weight: 600;
  padding-left: 2px;
  width: 320px;
  height: 45px;
  font-family: josefin sans, sans-serif;
  display: flex;
  align-items: center;
  border-left: 3px solid transparent;
  -webkit-tap-highlight-color: transparent;
}

.option1 a i,
.option2 a i,
.option3 a i,
.option4 a i,
.option5 a i,
.option6 a i,
.option7 a i,
.option8 a i,
.option9 a i,
.option10 a i {
  font-size: 15px;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -2.5px;
}

.option1 a:hover,
.option2 a:hover,
.option3 a:hover,
.option4 a:hover,
.option5 a:hover,
.option6 a:hover,
.option7 a:hover,
.option8 a:hover,
.option9 a:hover,
.option10 a:hover {
  background: #ff1493;
  color: #FFB8DF;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.option1 a:hover:before,
.option2 a:hover:before,
.option3 a:hover:before,
.option4 a:hover:before,
.option5 a:hover:before,
.option6 a:hover:before,
.option7 a:hover:before,
.option8 a:hover:before,
.option9 a:hover:before,
.option10 a:hover:before {
  content: '';
  position: absolute;
  margin-top: -60px !important;
  margin-left: 290px;
  border-radius: 50%;
  background: #000;
  width: 15px;
  height: 15px;
  box-shadow: 6.5px 6.5px 0 #ff1493;
}

.option1 a:hover:after,
.option2 a:hover:after,
.option3 a:hover:after,
.option4 a:hover:after,
.option5 a:hover:after,
.option6 a:hover:after,
.option7 a:hover:after,
.option8 a:hover:after,
.option9 a:hover:after,
.option10 a:hover:after {
  content: '';
  position: absolute;
  margin-bottom: -60px !important;
  margin-left: 290px;
  border-radius: 50%;
  background: #000;
  width: 15px;
  height: 15px;
  box-shadow: 6.5px -6.5px 0 #ff1493;
}


.space {
  width: 100px;
  height: 10px;
  align-self: center;
}

.main {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  background: #000;
  z-index: 10;
  overflow-y: scroll;
}

/*
.page01 {
  width: 100%;
  height: 100%;
  background: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page01 .leftside {
  width: 55%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  z-index: 1;
  overflow: hidden;
}

.page01 .leftside .text {
  width: 100%;
  height: 100%;
  display: flex;
  padding-top: 50px;
  flex-direction: column;
  overflow: hidden;
}

.page01 .leftside h3 {
  color: #fff;
}

.page01 .leftside h1 {
  color: #FF68BA;
  word-spacing: 5px;
}

.page01 .leftside p {
  color: #ff1493;
}

.page01 .leftside .contain {
  display: flex;
}

.page01 .leftside .button {
  position: relative;
  display: inline-flex;
  width: 100px;
  height: 30px;
  padding: 10px 20px;
  background: #ff1493;
  color: #000;
  text-decoration: none;
  letter-spacing: .5px;
  font-size: 12px;
  font-weight: 700;
  border-radius: 28px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.page01 .leftside .button i {
  color: #000;
  font-size: 15px;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page01 .rightside {
  width: 45%;
  height: 100%;
  position: relative;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 130px 0;
  z-index: 0;
  overflow: hidden;
}
*/

.page01 .leftside .button:hover {
  filter: drop-shadow(0 0 2px #FF149350) drop-shadow(0 0 5px #FF1493) drop-shadow(0 0 15px #FF1493);
  transition: 0.2s;
}

.page01 .rightside .mySwiper {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0 25px;
}

.swiper-slide {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.swiper-slide .card {
  width: 100%;
  height: 100%;
  background: hotpink;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  border-radius: 10px;
  border: 1px solid #ff1493;
}

.swiper-slide .card img {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  z-index: 1;
}

.swiper-pagination {
  margin-bottom: 35px;
}

.swiper-pagination-bullet {
  background-color: #ff1493 !important;
  opacity: 50% !important;
}

.swiper-pagination-bullet-active {
  background-color: #ff1493 !important;
  opacity: 100% !important;
}

.swiper-button-next {
  background: url('https://www.svgrepo.com/show/67470/right-arrow.svg'), #ff1493;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% auto;
  width: 28px !important;
  height: 28px !important;
  border-radius: 50%;
  border: 1px solid black;
}

.swiper-button-prev {
  background: url('https://www.svgrepo.com/show/67470/right-arrow.svg'), #ff1493;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% auto;
  transform: rotate(180deg);
  width: 28px !important;
  height: 28px !important;
  border-radius: 50%;
  border: 1px solid black;
}

.swiper-button-prev::after {
  display: none;
}

.swiper-button-next::after {
  display: none;
}
/*
.page02 {
  width: 100%;
  height: 400px;
  background: yellow;
}

.page03 {
  width: 100%;
  height: 400px;
  background: hotpink;
}

.page04 {
  width: 100%;
  height: 400px;
  background: green;
}

.page05 {
  width: 100%;
  height: 400px;
  background: orange;
}*/
